<!-- - - - - - - - - - - - - - BG Video - - - - - - - - - - - - - - - - -->		


	<!-- - - - - - - - - - - - - end BG Video - - - - - - - - - - - - - - - -->	
	
	
	<!-- - - - - - - - - - - - - - Loader - - - - - - - - - - - - - - - - -->	

	 <div class="loader"></div>
	<!-- - - - - - - - - - - - - end Loader - - - - - - - - - - - - - - - -->	
	
	


<!-- - - - - - - - - - - - - - Wrapper - - - - - - - - - - - - - - - - -->
	

<div id="wrapper">
	
	<section id="home" class="page">
		
		<section class="section-home section parallax parallax-bg-1 bg-turquoise-color fullscreen-thing">

			<div class="full-bg-image"></div>

			<div class="container">

				<div class="row">
					
					<div class="counter-guy col-xs-12 center">
	
					<h1 class="counter-real"><%= ((Time.zone.now.seconds_since_midnight)*0.63419583967).to_i %></h1>
					<h2>new<br><span>Sexually Transmitted Infections</span><br>in America, today.</h2>
					<a href="#about"><button class="learn-more button learn">Learn More</button></a>

					</div>
					
				</div>

			</div>

		</section>
		
	</section>

	
	<section id="about" class="page">
		
		<section class="problem-section section almost-fullscreen">

			<div class="container">

				<div class="row">
					
					<div class="col-xs-12">
						<hgroup class="section-title align-center problem-title opacity">
							<h1>The Problem</h1>	
						</hgroup>	
					</div>

				</div>

				<div class="row">

					<div class="col-md-4 span-thing opacity center column3">
						<hgroup class="section-title title-small-margin">
							<h1><a href="/static_pages/resources" target="_blank">110</a></h1>
						</hgroup>

						<h2>million Americans are <br> living with an <span>STI</span></h2>
					</div>

					<div class="col-md-4 span-thing opacity center column3">
						<hgroup class="section-title title-small-margin">
							<h1><a href="/static_pages/resources" target="_blank">1<span> in </span>4</a></h1>						
						</hgroup>

						<h2>sexually active Americans <br>have an STI <span>but don't know</span></h2>
					</div>

					<div class="col-md-4 opacity span-thing center column3">
						<hgroup class="section-title title-small-margin">
							<h1><a href="/static_pages/resources" target="_blank">50<span>%</span></a></h1>
						</hgroup>

						<h2>of sexually active youths <br> contract <span> an STI by age 25</span></h2>
					</div>

					</div>

				</div>

				<div class="row margin-pitch">
					<div class="col-xs-12 span-thing center">
						<h1>Most STIs are invisible. All are preventable.</h1>
						<a href="#team"><button class="get-protected button turquoise">Get Protected</button></a>
					</div>					
				</div>


			</div>	
			
		</section>
		
	</section>

	
	<section id="team" class="page">
		
		<section class="section almost-fullscreen bg-gray-color">
			
			<div class="container">

				<div class="row">

					<div class="col-xs-12">
						<hgroup class="section-title align-center opacity">
							<h1>The Solution</h1>	
						</hgroup>			
					</div>
					
				</div>

			</div>	

			<div class="container">

				<div class="row">

					<div class="col-md-1">
						<!--<p>
							Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'? 
						</p>

						<p>
							You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out. Now, I don't know exactly when we turned on each other, but I know that seven of us survived the slide... and only five made it out. Now we took an oath, that I'm breaking now. We said we'd say it was the snow that killed the other two, but it wasn't. Nature is lethal but it doesn't hold a candle to man. 
						</p> -->							
							
					</div>

					<div class="col-md-4">
						<center>
						<div class="phone">
						<img src="http://i.imgur.com/uttsl1s.png">							
						</div>
						</center>	
					</div>

					<div class="col-md-2">
						<!-- <p>
							Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. 
						</p>

						<p>
							Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'? 
						</p> -->
						<div class="center">
						<p>1. Find and book tests <br><br> 2. Securely upload results<br><br> 3. Compare<br><br>4. Stay safe</p>
					</div>

									
					</div>



					<div class="col-md-4">
						<center>
						<div class="phone">
						<img src="http://i.imgur.com/DqoNmCn.png">							
						</div>
						</center>
					</div>

					<div class="col-md-1">
						<!-- <p>
							Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'? 
						</p>

						<p>
							You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out. Now, I don't know exactly when we turned on each other, but I know that seven of us survived the slide... and only five made it out. Now we took an oath, that I'm breaking now. We said we'd say it was the snow that killed the other two, but it wasn't. Nature is lethal but it doesn't hold a candle to man. 
						</p> -->							
							
					</div>

				</div>

			</div>

		</section>		
					
	</section>
		
	
	<section id="456" class="page">
		
		<section class="almost-fullscreen section">
			
			<div class="container">
				
				<div class="row">
					
					<div class="col-xs-12">
						<hgroup class="section-title align-center opacity">
							<h1>Create Account</h1>
						</hgroup>							
					</div>

				</div>

				<center><p>Already signed up? <strong><%= link_to "Click here to sign in.", new_session_path %></strong></p></center>
				

				<div class="signup-background">
  <%= form_for User.new, url: users_path, class: "form-horizontal new-user" do |f| %>
      
      <%= f.text_field :first_name, placeholder: "First Name", class: "col-sm-2" %>
      <%= f.text_field :last_name, placeholder: "Last Name", class: "col-sm-2" %>

      <%= f.text_field :email, placeholder: "Email Address", class: "col-sm-2" %>

      <%= f.password_field :password, placeholder: "Password", class: "col-sm-2" %>
      <%= f.password_field :password_confirmation, placeholder: "Password Again", class: "col-sm-2" %>

      <br/>

      <!-- <center>

      <%= f.label :over_18, "I am over 18:", class: "over_18" %> &nbsp;&nbsp;
      <%= f.check_box :over_18 %>
      </center> -->
      
      <center>
      <%= f.submit "Sign Up", class: "button sign-up turquoise middle" %>
      </center>
  <% end %>
</div>
					
				</div>
					
			</div>
			
		</section>
		
	</section>

	
	<section id="123" class="page">
		
		<section class="almost-fullscreen section bg-gray-color">
			
			<div class="container">

				<div class="row">
					
					<div class="col-xs-12">
						<hgroup class="section-title align-center opacity">
							<h1>STI Testing Near Me</h1>
								
						</hgroup>					
					</div>
	
				</div>

			</div>

			<section class="section map-bg-image fullscreen-thing">

				<div class="full-bg-image"></div>

				<div class="container">

					<div class="row">
					
						<div class="col-xs-12">
							<center>
							<a href="#456"><button class="find-centers button turquoise">Sign Up to Find Testing Centers</button></a>
							</center>
						</div>
					
					</div>

				</div>

			</section>
			
	</section>


	<section id="search" class="page">

		<section class="asses">

			<div class="container social-media-row">

				<div class="row">

					<div class="col-md-6"></div>

					<div class="col-md-6 social-media">

						<h4>Follow our progress on <a href="http://on.fb.me/1fwLfP9" target="_blank"><span>Facebook</span></a> or join the conversation on <a href="http://bit.ly/1hwwD0D" target="_blank"><span>Twitter</span></a>.</h4>

					</div>

				</div>
			
			</div>	

		</section>

	</section>
	
</div>


<!-- - - - - - - - - - - - - end Wrapper - - - - - - - - - - - - - - - -->

<script>window.onload = function(){ startCounter() } </script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48438704-1', 'stidentify.com');
  ga('send', 'pageview');

</script>

<!--/
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="jquery.min.js"><\/script>')</script> -->
<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
<![endif]-->
<!-- <script src="js/jquery.queryloader2.js"></script>
<script src="js/waypoints.min.js"></script>
<script src="js/jquery.easing.1.3.min.js"></script>
<script src="js/jquery.cycle.all.min.js"></script>
<script src="js/jquery.superslides.min.js"></script>
<script src="js/jquery.mixitup.js"></script>
<script src="js/jquery.mb.YTPlayer.js"></script>
<script src="js/jquery.smoothscroll.js"></script>
<script src="js/flexslider/jquery.flexslider.js"></script>
<script src="js/fancybox/jquery.fancybox.pack.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="js/jquery.gmap.min.js"></script>
<script src="twitter/jquery.tweet.js"></script>
<script src="js/jquery.touchswipe.min.js"></script>
<script src="js/config.js"></script>
<script src="js/custom.js"></script> -->
      
</body>
</html>