<div class="signup-background">
  <% if @message %>
    <p><%= @message %></p>
  <% end %>
  <%= form_tag "/session", class: "form-horizontal sign-in" do %>
    <%= text_field_tag :email, nil, placeholder: "Email Address", class: "col-sm-2" %>
    <%= password_field_tag :password, nil, placeholder: "Password", class: "col-sm-2" %>
    <%= submit_tag "Sign In", class: "button turquoise middle" %>

  <% end %>
</div>

<script>
window.onload = function(){
  console.log("test")

  $.ajax({
    headers: {          
      Accept: "application/json; charset=utf-8",         
      "Content-Type": "application/json; charset=utf-8"
    },
    url: "/api/sessions",
    type: "POST",
    data: JSON.stringify({email:"brad@gmail.com", password:"bradley123"}),
    dataType: "json",
    success: function(data) {
      console.log(data);
    }
  })
}
</script>