<div class="signup-background">
  <%= form_tag "/session", class: "form-horizontal new-user" do %>
    <div class="form-group">
      <%= label_tag :email, "Email Address", class: "control-label col-sm-5" %>
      <div class="col-sm-6">
        <%= text_field_tag :email, nil, placeholder: "johnsmith@gmail.com", class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag :password, "Password", class: "control-label col-sm-5" %>
      <div class="col-sm-6">
        <%= password_field_tag :password, nil, placeholder: "•••••••••", class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-5 col-sm-10">
        <%= submit_tag "Log In", class: "btn btn-primary col-sm-5" %>
      </div>
    </div>
  <% end %>
</div>