<div class="signup-background">
  
  <%= @places %>

  <%= form_tag search_results_user_path, method: "get", class: "form-horizontal search" do %>
    <%= label_tag :radius, "within" %>
    <%= select_tag :radius, options_for_select(["10 miles", "25 miles", "50 miles", "100 miles"], "25 miles") %>
    <br/>
    <%= label_tag :location, "of" %>
    <%= text_field_tag :location, nil, placeholder: "Your Location", class: "col-sm-2" %>
    <%= submit_tag "Search", class: "button turquoise middle col-sm-12" %>

  <% end %>

<center>
  <div class="load-spin"></div>
  <div class="gmap-box">
    <div class="content-box"></div>
    <div class="gmap">
      <div id="map">
      </div>
    </div>
  </div>
</center>


</div>

<script>
  $(document).on('page:load', function(){
    initializeMaps(<%= params[:id] %>);
  })
  // window.onload = function(){
  //   initializeMaps(<%= params[:id] %>);
  // }
</script>