<%= form_tag search_results_user_path, method: "get", class: "form-horizontal search" do %>
    <%= label_tag :radius, "within" %>
    <%= select_tag :radius, options_for_select(["10 miles", "25 miles", "50 miles", "100 miles"], "25 miles") %>
    <br/>
    <%= label_tag :location, "of" %>
    <%= text_field_tag :location, nil, placeholder: "Your Location", class: "col-sm-2" %>
    <%= submit_tag "Search", class: "button turquoise middle col-sm-12" %>
  <% end %>

<h1><%= @places.first[:phone]%></h1>

<center>
  <div class="gmap">
    <div id="map">
    </div>
  </div>
</center>

<script>
  window.onload = function() {
    console.log("hello");
    console.log("<%= @places %>");
    searchResults("<%= @location %>");
    // searchResults($.parseJSON(<%= @places_response.to_json.html_safe %>), <%= @location %>);
  }
</script>