<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Stidentify" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Stidentify" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if params[:action] == "home" %>
      <% if current_user %>
        <%= render 'layouts/logged_in_header' %>
      <% else %>
        <%= render 'layouts/logged_out_header' %>
      <% end %>
    <% else %>
      <% if current_user %>
        <%= render 'layouts/logged_in_header2' %>
      <% else %>
        <%= render 'layouts/logged_out_header2' %>
      <% end %>
    <% end %>
    
    <%= yield %>
  </body>
</html>
